body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#name-title {
  /* font-size: 2rem; */
}

#name-title {
  font-size: x-large;
}

.form-floating>label {
  /* color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important; */
}

#messageInput {
  height: 100px;
}

.footer-icon {
  font-size: 30px;
}